<div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{if empty($allfeeds)}}
             <p style="color:red;font-size: 12px;"> No Record Found</p>
            {{/if}}
            {{else}}
              {{foreach $feed in $allfeeds}}
                <div class="post-preview">
                  <a href="#">
                    <h2 class="post-title">
                      {$feed->title}
                    </h2>
                    <h3 class="post-subtitle">
                      {$feed->description}
                    </h3>
                  </a>
                  <p class="post-meta">Posted by
                    <a href="#">Blog.io</a>
                    on {$feed->modified}</p>
                </div>
                <hr/>
              {{/foreach}}
            {{/else}}
            <!-- Pager -->
            <!-- <div class="clearfix">
              <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div> -->
          </div>
        </div>
      </div>